<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <% if (products.length > 0) { %>
      <ul class="cart__item-list">
        <% products.forEach(p => { %>
        <li class="cart__item">
          <p><%= p.title %> (<%= p.cartItem.quantity %>)</p>
          <form action="/cart-delete-item" method="POST">
            <input type="hidden" value="<%= p.id %>" name="productId" />
            <button class="btn" type="submit">Delete</button>
          </form>
        </li>
        <% }) %>
      </ul>
      <hr />
      <div class="centered">
        <form action="/create-order" method="POST">
          <button type="submit" class="btn">Order Now!</button>
        </form>
      </div>
      <% } else { %>
      <h1>No Products in Cart!</h1>
      <% } %>
    </main>
  </body>
</html>
